

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@200;300;400;500;600&family=Noto+Sans+Thai:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
}


.hero{
    background: #ffde59;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: sans-serif
}

.hero h1{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    color: #000;
}

.slide-row{
    display: flex;
    width: 3200px;
}

.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}

.activity-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.activity-img img{
    height: 100%;
    border-radius: 10px;
}

.activity-text{
    background: #2d3a59;
    width: 520px;
    height: 270px;
    position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}

.activity-text p{
    font-size: 18px;
    line-height: 35px 0 5px;
}

.container{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50);
}